@import "variables";

.Dropdown{
  color: white;
  background-color: $dark-gray;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.Dropdown:hover{
  color: $light-gray;
}

.Dropdown-Option{
  border: none;
}

.ChartForm{
  display: flex;
}

.Chart-Selections{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: calc(100vh-75px);
  padding: 10px;
}

//chart form with chart, title and submit button
.ChartCanvas{
  display: flex;
  flex-direction: column;
  height: calc(100vh-75px);
  width: 60vw;
  padding: 10px;
}

//actual chart itself
.Chart{
  fill: $dark-blue;
}

//chart item that wraps over the chart label
.PreviewChart{
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.Title-Submit{
  display: flex;
  flex-direction: row;
}

.Title-Errors{
  display: flex;
  flex-direction: column;
}

.ChartTitle{
  font-size: 30px;
  margin: 10px 20px;
  border-bottom: 1px solid black;
  width: 80%;
}

.ChartSubmit{
  width: 20%;
  background-color: $dark-blue;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  color: white;
}

.ChartSubmit:hover{
  color: $light-gray;
}

.ChartButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChartButtons > button > img{
  width: 100%;
  max-width: 48px;
  height: 100%;
  max-height: 48px;
  margin: 10px;
}

.ChartButtons > button > img:hover{
  background-color: $light-gray;
}

.ChartButtons > button > .fa {
  font-size: 35px;
  margin: 10px;
}

.ChartButtons > button > .fa:hover{
  background-color: $light-gray;
}

.Chart-Dropdown{
  width: 80%;
  align-items: center;
}

.PieCell0{
  fill: $dark-blue;
}

.PieCell1{
  fill: $dark-blue-green;
}

.XLabel{
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
}

.Axis-Label{
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
}

.empty-dropdown{
  width: 100%;
  text-align: center;
  padding: 0px 10px;
}
