@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

//overall with sidebar
.dataTables{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 75px);
}

//without sidebar, just the tables with the title
.DataTables{
  display: flex;

  flex-direction: column;
  width: calc(100vw - 200px);
  overflow-y: scroll;
}

//just the table
.datatables_table{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100vw - 220px);
  white-space: nowrap;
}

.import-table{
  background-color: $dark-blue;
  color: white;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.import-table:hover{
  color: $light-gray;
}

.tableshead{
  background-color: $dark-blue;
  font-weight: bold;
  color: white;
}

.tableshead > tr{
  outline-style: none;
}

.tableshead *{
  outline: 1px solid $dark-blue;
}

.tablesrow0{
  flex-wrap: none;
  background-color: white;
  padding: 10px;
}

.tablesrow1{
  background-color: $light-purple-gray;
  padding: 10px;
}

.tablesrow0:hover{
  background-color: $light-gray;
}

.tablesrow0:hover> td{
  outline: 1px solid $light-gray;
}

.tablesrow1:hover{
  background-color: $light-gray;
}

.tablesrow1:hover> td{
  outline: 1px solid $light-gray;
}

.tablesrow1 > td{
  outline: 1px solid $light-purple-gray;
}

.td-button{
  width: 100%;
}

.td-padding{
  padding: 10px;
}

.th-padding{
  padding: 8px;
  font-size: 20px;
}
