@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

//overall with sidebar
.dataTables{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 75px);
}

//without sidebar, just the tables with the title
.DataTables{
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}

//just the table
.datatables_table{
  overflow: auto;
  margin-top: 20px;
  width: 500px;
  white-space: wrap;
}

.tableshead{
  border: $light-purple-gray;
  border-bottom: 1px solid black;
  background-color: $light-purple-gray;
  font-weight: bold;
}

.tablesrow0{
  background-color: white;
  padding: 10px;
}

.tablesrow1{
  background-color: $light-purple-gray;
  padding: 10px;
}

.tablesrow0:hover{
  background-color: $light-gray;
}
.tablesrow1:hover{
  background-color: $light-gray;
}

.td-button{
  width: 100%;
}

.td-padding{
  padding: 10px;
}

.th-padding{
  padding: 10px;
  font-size: 20px;
}
