@import "variables";

.newDataTableTitle{
  width: calc(100vw - 350px);
  font-size: 30px;
  margin: 10px 40px;
  border-bottom: 1px solid black;
}

.dropForm{
  display: flex;
  width: 70%;
  height: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 3px dashed $light-gray;
  border-radius: 25px;
  cursor: pointer;
  font-size: 30px;
  color: $light-gray;
  font-family: 'Lato', sans-serif;
}

.dropForm:hover{
  background-color: $light-blue;
}

.DataTableSubmit{
  font-size: 25px;
  text-align: center;
  background-color: $dark-blue;
  margin: 10px 30px;
  padding: 10px 10px 20px 10px;
  color: white;
  border-radius: 15px;
}

.DataTableSubmit:hover{
  color: $light-gray;
}
