//CSS Styling for the Nav Bar

@import "variables";

.signin-login{
  padding-left: 20px;
  padding-right: 20px;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  background-color: $dark-gray;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.signup{
  margin: 5px;
  border-radius: 5px;
  border-color: blue;
  background-color: $dark-blue; //blue
  font-size: 18px;
  padding: 13px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.signup:hover{
  color: grey;
}

.login{
  margin: 5px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
}

.login:hover{
  color: grey;
}

.logout{
  padding: 10px;
  border: none;
  border-radius: 0px;
  text-align: center;
  font-size: 18px;
  background-color: $dark-blue;
  color: white;
  cursor: pointer;
}

.logout:hover{
  color: grey;
}

.welcome{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
}

.dropdown-display{
  position: absolute;
  top: 55px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.dropdown-label{
  background-color: $dark-blue;
  color: white;
  font-size: 18px;
  padding: 10px;
}
