@import "variables";

.sidebar{
  display: flex;
  background-color: $dark-gray;
  justify-content: space-between;
  height: calc(100vh - 75px);
  width: 200px;
}

.sidebar > div{
  flex: 1;
}

.newtable_button{
  width: 80%;
  display: flex;
  padding-left: 25px;
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: left;
  margin-bottom: 10px;
  border-radius: 15px;
}

.newtable_button:hover{
  color: $light-gray;
}

.DataTablesTitle{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid $dark-blue;
}
