$light-blue: #5B8FE1;
$medium-blue-green: #009ACD;
$light-gray: #D4D4D4;
$dark-blue: #253A5C;
$dark-blue-green: #1B7086;
$dark-gray: #414B5C;
$light-purple-gray: #9AB3DB;

$color-wheel: [$dark-blue, $dark-blue-green];
