// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {

}

a{
  text-decoration: none;
}

.authform{
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #98fb98;
}

.navbar{
  display: flex;
  background-color: #98fb98; //light green
  justify-content: space-between;
  align-items: center;
}

.link{
  margin: 5px;
  border-radius: 25px;
  border-color: blue;
  background-color: #0099FF; //blue
  padding: 10px;
}
